Assets/ParrotTester/
Builds/HTML5/
Library/
Temp/
*.csproj
*.sln
*.zip
*.suo
obj/

Assets/Editor Default Resources/
Assets/UMotion Examples/
UMotionAutoBackups/
Assets/umotion_project.asset.meta
Assets/umotion_project.asset
Assets/UMotion Examples.meta
Assets/Editor Default Resources.meta
