Assets/ParrotTester/
Builds/HTML5/
Library/
Temp/
*.csproj
*.sln
*.zip
*.suo
.vs/
obj/

Assets/Editor Default Resources/
Assets/UMotion Examples/
UMotionAutoBackups/
Assets/umotion_project.asset.meta
Assets/umotion_project.asset
Assets/UMotion Examples.meta
Assets/Editor Default Resources.meta
/Packages/manifest.json
/ProjectSettings/PresetManager.asset
/ProjectSettings/ProjectVersion.txt
/ProjectSettings/ProjectVersion.txt
